# This is a basic workflow to help you get started with Actions

name: CI

on:
  schedule:
    - cron: '45 22 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Git  
      - run: |
        git add .
        git commit
        git push origin master
