# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Git  
        run: |
          git config --global user.email "dev.young.h@gmail.com"
          git config --global user.name "ikobean"
          git add .
          git commit -m "Today's News Update"
          git push origin master
